<header>
    <div id="slide-out " class="side-nav sn-bg-4 fixed">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
          <div class="text-center" style="padding: 20px;">
            <a href="#" class="pl-0"><img src="https://i0.wp.com/sjbit.edu.in/wp-content/uploads/2021/07/AICTE-Logo-250x250-1.png?ssl=1" width="100" height="75"></a>
          </div>
        </li>
        <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light" >
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li>
        <li>
          <ul class="collapsible collapsible-accordion" style="padding-bottom: 200px; ">
            <li><a href="/" class="collapsible-header waves-effect"><i class=" fas fa-home"></i>
                Home</a></li>

            {{!-- <li><a href="../modals/modals.html" class="collapsible-header waves-effect"><i class=" fas fa-bolt"></i>
                Reserve REPOS</a></li> --}}

            <li><a href="http://localhost:5173/authenticate" class="collapsible-header waves-effect" target="_blank"><i class=" fas fa-comment"></i>
                ChatRoom</a></li>


            <li><a href="/analytics" class="collapsible-header waves-effect"><i class=" fas fa-th-large"></i>
                Analytics and Reporting</a></li>
            

          </ul>
          <ul >
            <li><a href="../sections/sections.html" class="collapsible-header waves-effect"><i class=" fas fa-th-large"></i>
              MoE</a></li>
            <li><a href="../sections/sections.html" class="collapsible-header waves-effect"><i class=" fas fa-th-large"></i>
                Terms & Conditions</a></li>
          </ul>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse black-text"><i class="fas fa-bars"></i></a>
      </div>
      <!-- Breadcrumb-->
      <div class="breadcrumb-dn mr-auto">
        <p>Dashboard</p>
      </div>

      <!--Navbar links-->
      <ul class="nav navbar-nav nav-flex-icons ml-auto">

        <!-- Dropdown -->
        <li class="nav-item">
            <a class="nav-link waves-effect"><i class="fas fa-bell"></i> <span class="clearfix d-none d-sm-inline-block">Notification</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link waves-effect"><i class="fas fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect"><i class="far fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/profile"><i class="fas fa-user-edit"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span></a>
        </li>

      </ul>
      <!--/Navbar links-->
    </nav>
    <!-- /.Navbar -->

  </header>
  