<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">AICTE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto smooth-scroll">
            <li class="nav-item">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard" data-offset="90">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/repository" data-offset="90">Repository</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:5173" data-offset="90" target="_blank">ChatRoom</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio" data-offset="90">Tools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analytics" data-offset="30">Analytics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" data-offset="90">Login</a>
            </li>
          </ul>
          <!-- Social Icon  -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Section -->
    <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'>
      <div class="mask rgba-indigo-light" style="background-image: url(images/back2.jpg); background-size: cover; background-repeat: norepeat;">
        <div class="container h-100 d-flex justify-content-center align-items-center" >
          <div class="row smooth-scroll">
            <div class="col-md-12 text-center">
              <div class="text-white wow fadeInDown">
                <h1 class="display-4 text-uppercase font-weight-bold mt-5 mt-xl-2">AICTE Portal</h1>
                <hr class="hr-light my-4">
              </div>
              <a href="#features" data-offset="100" class="btn blue-gradient btn-rounded wow fadeInUp"
                data-wow-delay="0.2s">Welcome</a><br>
              <a href="/login" data-offset="100" class="btn blue-gradient btn-rounded wow fadeInUp"
                data-wow-delay="0.2s">  Login  </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>