<footer class="page-footer footer-tiles text-center text-md-left pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container mt-1 mb-2">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-xl-4 col-lg-4 mt-2 mb-1 wow fadeIn" data-wow-delay="0.3s">
          <!-- About -->
          <h5 class="text-uppercase mb-4"><strong>ABOUT COMPANY</strong></h5>

          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti.</p>

          <p class="">Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>

          

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center wow fadeIn" data-wow-delay="0.3s">
      <div class="container-fluid">
        © 2019 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> aicte.com </a>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  