<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Registered Users</title>
  <!-- Font Awesome -->
  {{>external}}
  <link rel="stylesheet" href="css/select.css">
  <link rel="stylesheet" href="css/datatable.css">
    <script src="js/datatable.js"></script>
    <script src="js/select.js"></script>
  <style>

  </style>
</head>

<body class="fixed-sn white-skin">
  {{>header_admin}}

  <!-- Main layout -->
  <main>
    <div class="col-md-12">

          <h2 class="my-4 dark-grey-text font-weight-bold">Registered Users</h2>

          <div class="card">
            <div class="card-body">
              <div id="dt-material-checkbox_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length d-flex flex-row" id="dt-material-checkbox_length"><label>Show  entries</label><div class="select-wrapper mdb-select"><span class="caret">▼</span><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-564e33d3-ba6c-4c71-b87e-813db976f059" value=""><ul id="select-options-564e33d3-ba6c-4c71-b87e-813db976f059" class="dropdown-content select-dropdown w-100 "><li class="active"><span class="filtrable"> 10   </span></li><li class="   "><span class="filtrable"> 25   </span></li><li class="   "><span class="filtrable"> 50   </span></li><li class="   "><span class="filtrable"> 100   </span></li></ul><select name="dt-material-checkbox_length" aria-controls="dt-material-checkbox" class="mdb-select initialized"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></div></div></div><div class="col-sm-12 col-md-6"><div id="dt-material-checkbox_filter" class="dataTables_filter md-form"><label class="active">Search:</label><input type="search" class="form-control" placeholder="Search" aria-controls="dt-material-checkbox"></div></div></div><div class="row"><div class="col-sm-12"><table id="dt-material-checkbox" class="table table-striped dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="dt-material-checkbox_info" style="width: 100%;">
                <thead>
                  <tr role="row"><th class="select-checkbox sorting_asc" rowspan="1" colspan="1" aria-label="" style="width: 50px;"></th><th class="th-sm sorting" tabindex="0" aria-controls="dt-material-checkbox" rowspan="1" colspan="1" aria-label="Position
                    : activate to sort column ascending" style="width: 260px;">Position
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dt-material-checkbox" rowspan="1" colspan="1" aria-label="Office
                    : activate to sort column ascending" style="width: 126px;">Office
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dt-material-checkbox" rowspan="1" colspan="1" aria-label="Age
                    : activate to sort column ascending" style="width: 99px;">Age
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dt-material-checkbox" rowspan="1" colspan="1" aria-label="Start date
                    : activate to sort column ascending" style="width: 112px;">Start date
                    </th><th class="th-sm sorting" tabindex="0" aria-controls="dt-material-checkbox" rowspan="1" colspan="1" aria-label="Salary
                    : activate to sort column ascending" style="width: 99px;">Salary
                    </th></tr>
                </thead>
                <tbody>     
                <tr role="row" class="odd">
                    <td class="select-checkbox sorting_1"></td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                  </tr><tr role="row" class="even">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011/07/25</td>
                    <td>$170,750</td>
                  </tr><tr role="row" class="odd">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009/01/12</td>
                    <td>$86,000</td>
                  </tr><tr role="row" class="even">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Senior Javascript Developer</td>
                    <td>Edinburgh</td>
                    <td>22</td>
                    <td>2012/03/29</td>
                    <td>$433,060</td>
                  </tr><tr role="row" class="odd">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>33</td>
                    <td>2008/11/28</td>
                    <td>$162,700</td>
                  </tr><tr role="row" class="even">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Integration Specialist</td>
                    <td>New York</td>
                    <td>61</td>
                    <td>2012/12/02</td>
                    <td>$372,000</td>
                  </tr><tr role="row" class="odd">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Sales Assistant</td>
                    <td>San Francisco</td>
                    <td>59</td>
                    <td>2012/08/06</td>
                    <td>$137,500</td>
                  </tr><tr role="row" class="even">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Integration Specialist</td>
                    <td>Tokyo</td>
                    <td>55</td>
                    <td>2010/10/14</td>
                    <td>$327,900</td>
                  </tr><tr role="row" class="odd">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Javascript Developer</td>
                    <td>San Francisco</td>
                    <td>39</td>
                    <td>2009/09/15</td>
                    <td>$205,500</td>
                  </tr><tr role="row" class="even">
                    <td class="select-checkbox sorting_1"></td>
                    <td>Software Engineer</td>
                    <td>Edinburgh</td>
                    <td>23</td>
                    <td>2008/12/13</td>
                    <td>$103,600</td>
                  </tr></tbody>
                <tfoot>
                  <tr><th class="select-checkbox" rowspan="1" colspan="1">Name
                    </th><th rowspan="1" colspan="1">Position
                    </th><th rowspan="1" colspan="1">Office
                    </th><th rowspan="1" colspan="1">Age
                    </th><th rowspan="1" colspan="1">Start date
                    </th><th rowspan="1" colspan="1">Salary
                    </th></tr>
                </tfoot>
              </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dt-material-checkbox_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dt-material-checkbox_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dt-material-checkbox_previous"><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dt-material-checkbox_next"><a href="#" aria-controls="dt-material-checkbox" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
            </div>
          </div>

        </div>
  </main>
  <!-- Main layout -->

  {{>footer}}
  <script>
    // SideNav Initialization
    $(".button-collapse").sideNav();

    var container = document.querySelector('.custom-scrollbar');
    var ps = new PerfectScrollbar(container, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20
    });

  </script>
  {{!-- {{>external_end}} --}}

</body>

</html>
